.inferfaz_coment{
 	display: block;
 }
 .descripcion{
 	display: block;
 }
 .barraShare{
 	display: block;
 }
 .view_movil{
 	display:none;
 }

 .view_computer{
 	display: block;
 }

 @media screen  and (min-width:1100px){
 	.single-right-grid-left>a>img{
		height: 100px;
		width: 100px;
    }

 }


 @media screen and (max-width: 600px) {
 	.view_computer{
 		display: none;
 	}
 	.view_movil{
 		display: block;
 	}
 	.interfaz_coment{
 		display: none;
 	}	
 	.descripcion{
 		display: block;
 	}
 	.barrShare{
 		display: none;
 	}
 	 .col-sm-3,col-md-2,sidebar{
	  display: none; 
    }
    .navbar-form,navbar-right{
    	display:none;
    }
 }

.lazyLoad {
    width: 100%;
    opacity: 0;
}

.visible {
    transition: opacity 1000ms ease;
    opacity: 1;
}